body {
  background-color: #ffe680;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #fddca5;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

#cart-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff6d9;
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  overflow-y: auto;
  max-height: 400px;
}

#cart-modal button {
  border: none;
  background: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

#cart-modal h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.product-details p {
  margin: 0;
}

.product-buttons {
  display: flex;
  align-items: center;
}

.quantity-button {
  background: #ffd966;
  color: #333;
  border: none;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-button {
  background: #ff8080;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.confirm-button {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

#cart-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
}

.swal-title {
  font-size: 16px !important;
}

.swal-popup {
  width: 200px !important;
}